.search-more {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;

  &__header {
    @media only screen and (max-width: 600px) {
      flex-direction: column;
    }
    @media only screen and (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }

    &__logo {
      margin-right: 35px;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    @media only screen and (min-width: 992px) {
      flex-direction: row;
    }
  }
  &__search-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;

    &__selection {
      align-self: flex-end;
    }
  }
}