.search-bar {
  &__input {
    min-height: 46px;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 10px;
    color: #888888;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    min-width: 709px;
    text-align: center;

  }
  &__button {
    border: 1px solid darken(#204080, 0.5);
    cursor: pointer;
    background: #204080;
    border-radius: 8px;
    font-size: 18px;
    padding: 13px;
    color: #ffffff;
    min-width: 138px;
    margin-left: 16px;
  }
}

// @media only screen and (max-width: 600px) { 
//   .search-bar {
//     display: grid;
//     width: 88vw;
//     &__input {
//       min-height: 46px;     
//       min-width: 50vw;  
//       display: grid;
//     }
//     &__button {      
//       min-width: 50vw;
//       margin-left: 0px;
//       display: grid;
//       margin-top: 5px;
//     }
//   }
// }
// @media only screen and (min-width:768px){
//   .search-bar {
//     &__input {
//       min-height: 46px;
//       min-width: 50vw;
//       display: grid;
//       float: left;

//     }
//     &__button {      
//       display: grid;
//       float: left;
//     }
//   }
// }